h1 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 5em;
}

h3 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 2em;
}

p {
    font-family: "Montserrat";
    font-weight: 500;
}

a {
    font-family: "Montserrat";
    font-weight: 500;
}

.emphasis-text {
    color: blue;
}

#name {
    color: #D6DBDF;
}

#statement {
    color: #AEB6BF;
}
